version: '3.8'

services:
  web:
    build:
      context: ./docker
    container_name: asistencia_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: asistencia_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: asistenciaDB
    ports:
      - "3307:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

volumes:
  dbdata:
